<nav class="hori">
    <div id="logo"><a href="/"><img src="../../../images/logo.png"></a></div>
    <div class="filler"></div>
    <input type="text" placeholder="Search..." id="searchbar">
    <div class="filler"></div>
    {{#if logged}}
    <a href="/createpost"><div class="button">Create Post</div></a>
    <div><img src="data:{{imgtype}};base64, {{imgbuffer}}" width="75px" height="75px" id="prof-pic"></div>
    <div class="username-container vert">
        <div class="username" id="username"><a href="/profile?id={{userId}}">{{username}}</a></div>
        <div id="edit-profile" class="button2"><a href="/editProfile?id={{userId}}">Edit Profile</a></div>
        <div id="logout" class="button2"><a href="/logout">Log out</a></div>
        <div class="bg"></div>
    </div>
    {{else}}
        <div class="button" id="login"><a href="/login">Login</a></div>
        <div class="button" id="register"><a href="/register">Register</a></div>
    {{/if}}
</nav>