<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/noire.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Expanded Post</title>
</head>
<body>
    {{> nav }}

    <div class="post vert">
        <div class="hori">
            <div class="vert rate">
                <div class="upvote"></div>
                <div class="vote">{{post.score}}</div>
                <div class="downvote"></div>
            </div>
            <div class=vert>
                <div class="header">{{post.title}}</div>
                <div class="user">
                    <img src="data:{{post.dpType}};base64, {{post.dpBuffer}}" class="pfp op">
                    <div class="username">{{post.poster}}</div>
                </div>
                <div class="content">{{post.content}}</div>
            </div>
        </div>
        <textarea placeholder="Add a comment..." id="add-comment"></textarea>
        <div class="header">Comments:</div>
        <div id="comments">
            {{#each comments}}
            <div class="vert main comment">
                <div class="hori">
                    <div class="vert rate">
                        <div class="upvote"></div>
                        <div class="vote">{{score}}</div>
                        <div class="downvote"></div>
                    </div>
                    <div class="vert comment-proper">
                        <div class="user">
                            <a href="/profile?id={{commenterId}}"><img src="data:{{dpType}};base64, {{dpBuffer}}" class="pfp"></a>
                            <div class="username">{{postUsername}}</div>
                        </div>
                        <div class="content">{{comment}}</div>
                        <textarea class="add-reply" placeholder="Add a reply..."></textarea>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/home.js"></script>
<script type="text/javascript">
    const add_comment = document.getElementById("add-comment");
    const comments_container = document.getElementById("comments");
    add_comment.addEventListener("keydown", add_comment_enter, false);
    function add_comment_enter(e){
        if(e.keyCode == "13"){
            e.preventDefault();
            add_comment.value = add_comment.value.trim()
            if(add_comment.value === ""){
                return;
            }
            $.post(window.location.href,{comment: add_comment.value});
            window.location.reload();
        }
    }
</script>
</html>

