<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/noire.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="icon" href="/images/logo.png">
    <title>Expanded Post</title>
</head>
<body>
{{> nav logged=loggeduser.loggedIn username=loggeduser.username imgtype=loggeduser.dp.contentType imgbuffer=loggeduser.dpBuffer }}

    <div class="post vert">
        <div class="hori">
            <div class="vert rate">
                <div class="upvote"></div>
                <div class="vote">{{post.score}}</div>
                <div class="downvote"></div>
            </div>
            <div class=vert>
                <div class="hori" style="justify-content:space-between; width: 720px;"> 
                    <div class="header">{{post.title}}</div>
                    <div>                    

                        
                    </div>

                </div>
                <div class="user">
                    <a href="/profile?id={{post.posterId}}"><img src="data:{{post.dpType}};base64, {{post.dpBuffer}}" class="pfp op"></a>
                    <a href="/profile?id={{post.posterId}}"><div class="username">{{post.poster}}</div></a>
                </div>
                <div class="content">{{post.content}}</div>
            </div>
        </div>
        {{#if loggeduser.loggedIn}}
                    <textarea placeholder="Add a comment..." id="add-comment"></textarea>
        {{/if}}
                <div class = "hori" style="margin-top:-15px; margin-bottom:15px; justify-content:space-between;">
                    <div class = "hori" >
                        {{#if post.isEdited}}
                            <div class="post_options"  style=" font-weight:100">Posted {{post.span}}, edited {{post.editSpan}}</div>
                        {{else}}
                             <div class="post_options"  style=" font-weight:100">Posted {{post.span}}</div>
                        {{/if}}
                    </div>
                    <div class="hori">
                        {{#if loggeduser.loggedIn}}
                            {{{post.edit}}}
                            {{{post.delete}}}
                        {{/if}}
                    </div>
                </div>
        


        <div class="header" style="margin-bottom:20px">
                <hr class="separator">
            {{#if comments}}
                <p style="margin-left:-20px; margin-top:0px; margin-bottom:0px">Comments:</p>
            {{else}}
                <p style="margin-left:-20px; text-align:center; color:gray; font-weight:100;">No comments yet, be the first!</p>
            {{/if}}
        </div>
        <div id="comments">
                {{#each comments}}
                <div class="vert main comment">
                    <div class="hori">
                        <div class="vert rate">
                            <div class="upvote"></div>
                            <div class="vote">{{score}}</div>
                            <div class="downvote"></div>
                        </div>
                        <div class="vert comment-proper">
                            <div class="user">
                                <a href="/profile?id={{commenterId}}"><img src="data:{{dpType}};base64, {{dpBuffer}}" class="pfp"></a>
                                <a href="/profile?id={{commenterId}}"><div class="username">{{postUsername}}</div></a>
                                <div  style="font-size: 0.8em; color:grey; font-weight:100; font-style:italic">Commented {{span}}</div>
                            </div>
                            <div class="content">{{comment}}</div>
                    {{#if loggedIn}}
                        <textarea class="add-reply" placeholder="Add a reply..."></textarea>
                    {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/home.js"></script>
<script type="text/javascript">
    const add_comment = document.getElementById("add-comment");
    const comments_container = document.getElementById("comments");
    add_comment.addEventListener("keydown", add_comment_enter, false);
    function add_comment_enter(e){
        if(e.keyCode == "13"){
            e.preventDefault();
            add_comment.value = add_comment.value.trim()
            if(add_comment.value === ""){
                return;
            }
            $.post(window.location.href,{comment: add_comment.value, parent: 0});
            window.location.reload();
        }
    }
</script>

<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    var deletes = document.getElementsByClassName("delete_icon");
    for(var i = 0; i < deletes.length; i++) {
        var deleter = deletes[i];
        deleter.addEventListener("click", deletepost);
    }
    function deletepost(e){
        alert('Post deleted!');
        $.post('/delete',{id: id});
        window.location.replace('/');
    }
</script>

<script type="text/javascript"> // Deleting
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    var deletes = document.getElementsByClassName("delete_icon");
    for(var i = 0; i < deletes.length; i++) {
        var deleter = deletes[i];
        deleter.addEventListener("click", deletepost);
    }
    function deletepost(e){
        alert('Post deleted!');
        $.post('/delete',{id: id});
        window.location.replace('/');

    const add_reply = document.getElementsByClassName("add-reply");
    for(var i = 0; i < add_reply.length; i++) {
        var reply = add_reply[i];
        reply.addEventListener("keydown", add_reply_enter, false);
    }
    function add_reply_enter(e){
        if(e.keyCode == "13"){
            e.preventDefault();
            e.target.value = e.target.value.trim()
            console.log(e.target.value);
            console.log(e.target.id);
            if(e.target.value === ""){
                return;
            }
            $.post(window.location.href,{comment: e.target.value, parent: e.target.id});
            window.location.reload();
        }
}
</script>




</html>

