<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/logo.png">
	<link rel="stylesheet" type="text/css" href="/css/noire.css">
	<link rel="stylesheet" type="text/css" href="/css/profiles.css">
    <link rel="stylesheet" type="text/css" meda="all" href="/css/navbar.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/profile.js"></script>

	<title>{{user.username}}</title>
</head>
<body>

    {{> nav logged=loggeduser.loggedIn username=loggeduser.username imgtype=loggeduser.dp.contentType imgbuffer=loggeduser.dpBuffer userId=loggeduser.userId}}

    <div class="hori" style="justify-content: center; padding-top: 20px;">
		<!-- posts -->
        <!--TODO: if there are no available posts, add an invisible block to preserve space -->
		<div class="vert block"id="all_posts">
        {{#each posts}}
            {{> Postbody 
                posterId=posterId 
                imgtype=dpType 
                imgbuffer=dpBuffer 
                vote=score 
                username=postUsername
                postId=postId 
                post_title=title 
                post_text=content
                postSpan=span
            }}
        {{/each}}
        </div>

        <!-- profile -->
        <div class= "vert block" style="padding-top: 25px;" id="profile_div">
            <div class="side_element profile_bio vert" style="justify-content:center; align-items:center">
                <!--TODO: make uploadable profile pictures (optional) -->
				<img src="data:{{user.dp.contentType}};base64, {{user.dpBuffer}}" id="profile_picture">
				<div class="profile_title side-element">
					<p id="profile_bio">{{user.username}}</p>
				</div>
				<p id="profile_bio" style="text-align:center;">
					{{user.bio}}
				</p>			
			</div>

            <div class="side_element profile_bio">
                <div class="side-element">
					<span id="profile_posts_num">{{stat.countPost}}</span><span> Posts</span> 
                    <br>
					<span id="profile_comments_num">{{stat.countComment}}</span><span> Comments</span>
				</div>
            </div>

            {{#if loggeduser.isLoggedUser}}
            <div class="side_element profile_bio">
                <div class="side-element profile_center">
                    <!-- Check if the profile visited belongs to the user to allow editing -->
                    
                        <a href="/editProfile?id={{logged.userId}}"><button id="profile_edit_button">Edit Profile</button></a>
                    
				</div>
            </div>
            {{/if}}
        </div>
    </div>

    
</body>
</html>