<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../stylesheets/noire.css">
    <link rel="stylesheet" href="../../../stylesheets/styles.css">
    <title>Expanded Post</title>
</head>
<body>
    <nav class="hori">
        <div id="logo"><a href="../../homelogged.html"><img src="../../../images/logo.png"></a></div>
        <div class="filler"></div>
        <input type="text" placeholder="Search..." id="searchbar">
        <div class="filler"></div>
        {{#if logged}}
        <a href="../../createpostlogged.html"><div class="button">Create Post</div></a>
        <div><img src="../../../images/profilepicture.jpg" id="prof-pic"></div>
        <div class="username-container vert">
            <div class="username" id="username">{{username}}</div>
            <div id="edit-profile" class="button2">Edit Profile</div>
            <div id="logout" class="button2">Log Out</div>
            <div class="bg"></div>
        </div>
        {{else}}
        <div class="button" id="login">Login</div>
        <div class="button" id="register">Register</div>
        {{/if}}
    </nav>

    <div class="post vert">
        <div class="hori">
            <div class="vert rate">
                <div class="upvote"></div>
                <div class="vote">{{votes}}</div>
                <div class="downvote"></div>
            </div>
            <div class=vert>
                <div class="header">{{title}}</div>
                <div class="user">
                    <img src="../../../images/prof_pics/anya.jpg" class="pfp op">
                    <div class="username">{{poster}}</div>
                </div>
                <div class="content">{{content}}</div>
            </div>
        </div>
        <textarea placeholder="Add a comment..." id="add-comment"></textarea>
        <div class="header">Comments:</div>
        <div id="comments">
            {{#each comments}}
            <div class="vert main comment">
                <div class="hori">
                    <div class="vert rate">
                        <div class="upvote"></div>
                        <div class="vote">{{votes}}</div>
                        <div class="downvote"></div>
                    </div>
                    <div class="vert comment-proper">
                        <div class="user">
                            <img src="../../../images/pfp.png" class="pfp">
                            <div class="username">{{username}}</div>
                        </div>
                        <div class="content">{{comment}}</div>
                        <textarea class="add-reply" placeholder="Add a reply..."></textarea>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
    </div>
    <script src="../../public/js/expanded_post.js"></script> 
</body>
</html>
</html>
