<div class = forum_post>
    <div class="hori">
        <div class="vert">
            <a href="/profile?id={{posterId}}"><img src="data:{{imgtype}};base64, {{imgbuffer}}" width="75px" height="75px" class="post_profpic"></a>
            <div class = "hori" style="justify-content: space-between;">
                <div class="upvote"></div>
                <div class="vote">{{vote}}</div>
                <div class="downvote"></div>
            </div>
        </div>
        <div class="vert">
            <div class="hori" style="justify-content:space-between; width:600px">
                <p class=post_author>Posted by {{username}}</p></a>
                {{{del}}}
            </div>
            <div>
                <a href="/post?id={{postredId}}"><p class=post_title>{{post_title}}</p></a>
            </div>
            <div>
                <p class=post_text>{{post_text}}</p>
            </div>
        </div>
    </div>
</div>
