<div class = forum_post>
    <div class="hori">
        <div class="vert">
            <img src="data:{{imgtype}};base64, {{imgbuffer}}" width="75px" height="75px" class="post_profpic">
            <div class = "hori" style="justify-content: space-between;">
                <div class="upvote"></div>
                <div class="vote">{{vote}}</div>
                <div class="downvote"></div>
            </div>
        </div>
        <div class="vert">
            <div>
                <p class=post_author>Posted by {{username}}</p></a>
            </div>
            <div>
                <a href="./expandedposts/logged/Post1.html"><p class=post_title>{{post_title}}</p></a>
            </div>
            <div>
                <p class=post_text>{{post_text}}</p>
            </div>
        </div>
    </div>
</div>
